<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ParisVentes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	
  	<servlet>
  		<description></description>
  		<display-name>Home</display-name>
  		<servlet-name>Home</servlet-name>
  		<servlet-class>com.parisventes.servlets.Home</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Home</servlet-name>
  		<url-pattern>/home</url-pattern>
  	</servlet-mapping>
  	
  	 <servlet>
  		<description></description>
  		<display-name>Articles</display-name>
  		<servlet-name>Articles</servlet-name>
  		<servlet-class>com.parisventes.servlets.Articles</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Articles</servlet-name>
  		<url-pattern>/article</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<description></description>
  		<display-name>Login</display-name>
  		<servlet-name>Login</servlet-name>
  		<servlet-class>com.parisventes.servlets.Login</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Login</servlet-name>
  		<url-pattern>/login</url-pattern>
  	</servlet-mapping>
  	
  	<filter>
  		<filter-name>Restriction</filter-name>
  		<filter-class>com.parisventes.filter.Restriction</filter-class>
	  		<init-param>
	  			<param-name>test-param</param-name>
	  			<param-value>test du filtre</param-value>
	  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>Restriction</filter-name>
  		<url-pattern>/restreint/*</url-pattern>
  	</filter-mapping>
  	
  	<filter>
  		<filter-name>Restriction2</filter-name>
  		<filter-class>com.parisventes.filter.Restriction</filter-class>
	  		<init-param>
	  			<param-name>test-param</param-name>
	  			<param-value>test du filtre</param-value>
	  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>Restriction2</filter-name>
  		<url-pattern>/article</url-pattern>
  	</filter-mapping>
  	
</web-app>